{% extends 'layout.html' %}
{% block title %}Anmelden – Kundenportal{% endblock %}
{% block content %}
<div class="login-box">
  <h1>Kundenportal</h1>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <label>Kundennummer
      <input type="text" name="login" required autofocus autocomplete="username">
    </label>
    <label>Passwort
      <input type="password" name="password" required autocomplete="current-password">
    </label>
    <button type="submit" class="primary">Anmelden</button>
  </form>
</div>
{% endblock %}
